body{
  background-color: #a0a8a4;
   font-family: 'Raleway', sans-serif;
   
}
.headshot{
  border-radius:50%;
  width:250px;
}
.toprow{
  margin: 50px;
  padding:50px;
  border-radius:6px;
  display: flex;
justify-content:space-around;
background-color:#d9aee8;
}
.head{
  margin:10px;
  padding: 10px;
display: flex;
justify-content:center;
}
h1{
  display: flex;
justify-content:space-around;
}
button{
  background-color:#a0a8a4;
  font-size:12px;
  padding:20px;
  border-radius:8px;
}
.bottomImg{
  border-radius:6px;
}
.row{
   
  display: flex;
justify-content:space-around;
  
}